{{template "top"}}
{{template "left"}}
<div id="centreData">
{{template "menu"}}

<div class="clear fl p10">

  <h2>Punters Club</h2>


  <p>A Punters Club is a great way to join together a group of like minded friends who enjoy wagering entertainment. Instead of betting as an individual you can become part of something much bigger, a Punters Club where you ride the highs and lows of the Clubs bets together.</p>
  <p>There is no I in Punters Clubs, everything is for the collective good of the team. It is ALL FOR ONE AND ONE FOR ALL!</p>
  <p>Can you handle the pressure and back a winner under the watch full eyes of the Club or do you stumble and miss the mark. The pressure will be intense and the banter free flowing as you ride the Punter Club experience. There is no where to hide in a Punters Club, with every Member under the spot light, preform or face the wrath of the Club.</p>
  <p>For far to long betting has been the domain of the individual, but not any more! Get involved in a Punters Club to experience the power and the passion of the team riding home winners together where you can test your betting skills whilst saving money for a group goal or cause.</p>
  <p>Dont stress, If you cant handle the pressure you can leave a Punters Club at any time. Just be ready to face the sledging which will be coming your way!
  Punters Clubs have traditionally been difficult to organize and run! We make starting, joining, managing and participating in a Punters Club easy and enjoyable.</p>
  <p>We do all the work including an easy set up process, sending invites, adding members, funding the club, controlling the order of betting, placing bets, results, providing leader boards and the winding up of the Club. This is all handled via your Punters Club dashboard.</p>
</div>





</div>

{{template "right"}}
{{template "bottom"}}
